<IfModule mod_headers.c>
    # Mamaha ny olana Access-Control-Allow-Origin
    Header always set Access-Control-Allow-Origin "https://frontend-ong-puce.vercel.app"
    Header always set Access-Control-Allow-Methods "POST, GET, OPTIONS, DELETE, PUT"
    Header always set Access-Control-Allow-Headers "X-Requested-With, Content-Type, Origin, Authorization, Accept, Client-Security-Token, Accept-Encoding, X-CSRF-TOKEN"
    Header always set Access-Control-Allow-Credentials "true"
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Mamaly 200 OK avy hatrany ho an'ny OPTIONS (Preflight)
    RewriteCond %{REQUEST_METHOD} OPTIONS
    RewriteRule ^(.*)$ $1 [R=200,L]

    # Ny ambiny mahazatra an'ny Laravel
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>